<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->

   <title>{% block title %}
     
   {% endblock title %} | Restaurant</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <!-- favicon link -->
    <!-- intinput -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.3.1/build/css/intlTelInput.min.css" integrity="sha512-X3pJz9m4oT4uHCYS6UjxVdWk1yxSJJIJOJMIkf7TjPpb1BzugjiFyHu7WsXQvMMMZTnGUA9Q/GyxxCWNDZpdHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="icon" href="{% static 'favicon_io/favicon.ico' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

   <!-- aos css -->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- custom css -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/s.css' %}">

</head>

<body>


   
   <!--header section start -->

   <nav class="navbar navbar-expand-lg new_navbar bg-transparent" data-bs-theme="dark">
      <div class="container-fluid nav-container">
       <a class="navbar-brand brand-logo" href="/" data-aos="fade-down" data-aos-duration="3000">
  <img src="/static/images/logo.png" alt="Brand Logo" height="20" width="30">
</a>


         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item ">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About Us</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'menu' %}">Our Menu</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Our Services</a>
               </li>


            </ul>

            <div class="d-flex gap-3 px-4">

               {% if request.user.is_authenticated %}
               
                 <a href="{% url 'log_out' %}"><button class="auth-btn">Logout</button></a>
               {% else %}
                 <a href="{% url 'log_in' %}"><button class="auth-btn">Login</button></a>
               <a href="{% url 'register' %}"><button class="auth-btn">register</button></a>
               {% endif %}
             
               


            </div>

            <a href="{% url 'contact' %}"><button class="custom-btn btn-1">Contact</button></a>

            <!-- <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Search</button>
             </form> -->
         </div>
      </div>
   </nav>

{% block content %}
  
{% endblock content %}


    <!-- footer section start -->
    <div class="footer_section layout_padding"> 
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text">About</h3>
               <p class="footer_text">We at <b style="font: bold;">MOMOS</b> are passionate about bringing you 
                  the authentic taste of Nepal through our momos. Made with fresh, high-quality 
                  ingredients and following traditional recipes, 
                  our momos are bursting with flavor and sure to tantalize your taste buds. </p>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text"><b style="color: #f76d37;">M</b>OMOS</h3>
               <div class="footer_menu">
                  <ul style="list-style: none;">
                     <li><a href="">Home</a></li>
                     <li><a href="">About Us</a></li>
                     <li><a href="">Our Menu</a></li>
                     <li><a href="">Our Services</a></li>
                     <li><a href="">Contact Us</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h3 class="useful_text">Legals</h3>
               <div class="footer_menu">
                  <ul style="list-style: none;">
                     <li><a href="{% url 'terms_condition' %}">Terms and conditions</a></li>
                     <li><a href="{% url 'privacy' %}">Privacy</a></li>
                     <li><a href="#">Policy</a></li>
                     <li><a href="#">Support</a></li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-3 col-sm-6">
               <h1 class="useful_text">Contact Us</h1>
               <div class="location_text">
                  <ul style="list-style: none;">
                     <li>
                        <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address :
                              Kathmandu,Nepal</span>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call :
                              +9779823874877</span>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email :
                              khadka.suraj@gmail.com</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="#">Suraj</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
   crossorigin="anonymous"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
   crossorigin="anonymous"></script>
   
   <script src=""></script>


   <!-- sidebar -->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
      <!-- intlinput -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.3.1/build/js/intlTelInput.min.js" integrity="sha512-SlsU65KdLej2skQ24jI+POL40KCeJ7aR9dy6lhT6ZUggKQeoqq6Lj+7n6i8zqO2gcelYQBPgOdrtIwDXF6cLIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <script src="https://kit.fontawesome.com/b52396679f.js" crossorigin="anonymous"></script>
   <script src="{% static 'js/script.js' %}"></script>

   <!-- navactive  -->
 <script>
  const currentPath = window.location.pathname.replace(/\/$/, ''); // Remove trailing slash
  const navLinks = document.querySelectorAll('.nav-link');

  navLinks.forEach(link => {
    let linkPath = link.getAttribute('href').replace(/\/$/, ''); // Remove trailing slash
    if (linkPath === currentPath) {
      link.classList.add('active');
    }
  });
</script>




   <!-- aos js -->
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
      AOS.init();
   </script>
   
</body>

</html>